<div class="contentContainer">
	<div class="searchContainer">
		<mat-grid-list cols="3" rowHeight="75px">
			<mat-grid-tile [colspan]="2"><h1>Contacts</h1></mat-grid-tile>
			<form>
				<mat-grid-tile>
					<button mat-button (click)="applySearch(searchControl)"><mat-icon>search</mat-icon></button>
					<mat-form-field>
						<input matInput placeholder="Enter contact name" [formControl]="searchControl">
					</mat-form-field>
					<button mat-button (click)="clearSearch()"><mat-icon>clear</mat-icon></button>
				</mat-grid-tile>
			</form>
		</mat-grid-list>
	</div>
	
	<!-- Filters -->
	<div class="filtersContainter">
		<h2>Filters</h2>
		<div class="filters">
			<mat-form-field appearance="outline" class="selectFilter">
				<mat-label>Lead source</mat-label>
				<mat-select (selectionChange)="applySelectFilter($event.value, 'leadSrc')" [formControl]="leadSrc">
					<mat-option *ngFor="let src of leadSources" [value]="src"> {{src}} </mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline" class="selectFilter">
				<mat-label>Assigned to</mat-label>
				<mat-select (selectionChange)="applySelectFilter($event.value, 'assignedTo')" [formControl]="assignedTo">
					<mat-option *ngFor="let user of assignedToUsers" [value]="user"> {{user}} </mat-option>
				</mat-select>
			</mat-form-field>

			<div class="dateFilter">
				<p>Created time</p>
				<form [formGroup]="createdTimeForm" (ngSubmit)="applyDateFilter(createdTimeForm, 'createdTime')">
					<mat-form-field appearance="outline">
						<mat-label>From</mat-label>
						<input matInput [matDatepicker]="createdTimeFromPicker" formControlName="createdTimeFrom">
						<mat-datepicker-toggle matSuffix [for]="createdTimeFromPicker"></mat-datepicker-toggle>
						<mat-datepicker #createdTimeFromPicker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>To</mat-label>
						<input matInput [matDatepicker]="createdTimeToPicker" formControlName="createdTimeTo">
						<mat-datepicker-toggle matSuffix [for]="createdTimeToPicker"></mat-datepicker-toggle>
						<mat-datepicker #createdTimeToPicker></mat-datepicker>
					</mat-form-field>
					<button mat-button type="submit">Apply</button>
				</form>
			</div>

			<div class="dateFilter">
				<p>Updated time</p>
				<form [formGroup]="updatedTimeForm" (ngSubmit)="applyDateFilter(updatedTimeForm, 'updatedTime')">
					<mat-form-field appearance="outline">
						<mat-label>From</mat-label>
						<input matInput [matDatepicker]="updatedTimeFromPicker" formControlName="updatedTimeFrom">
						<mat-datepicker-toggle matSuffix [for]="updatedTimeFromPicker"></mat-datepicker-toggle>
						<mat-datepicker #updatedTimeFromPicker></mat-datepicker>
					</mat-form-field>
	
					<mat-form-field appearance="outline">
						<mat-label>To</mat-label>
						<input matInput [matDatepicker]="updatedTimeToPicker" formControlName="updatedTimeTo">
						<mat-datepicker-toggle matSuffix [for]="updatedTimeToPicker"></mat-datepicker-toggle>
						<mat-datepicker #updatedTimeToPicker></mat-datepicker>
					</mat-form-field>
					<button mat-button type="submit">Apply</button>
				</form>
			</div>
		</div>
		<div class="btnCancel"><button mat-button (click)="onCancel()">Cancel</button></div>
	</div> <!-- End div filters -->

  <!-- List of contacts -->
  	<div class="list">
		<div class="head">
			<mat-grid-list cols="3" rowHeight="50px">
				<mat-grid-tile><h2>Customers information</h2></mat-grid-tile>
				<mat-grid-tile [colspan]="2" class="btnCreateCustomer">
				<button mat-button [routerLink]="['/contacts/add']">
					<mat-icon>add</mat-icon>
					<span>Create new customer</span>
				</button>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
    
		<div class="info">
			<table mat-table [dataSource]="data" class="mat-elevation-z8">
				<!-- No Column -->
				<ng-container matColumnDef="no">
					<th mat-header-cell *matHeaderCellDef> No. </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.no}} </td>
				</ng-container>

				<!-- Contact name Column -->
				<ng-container matColumnDef="contactName">
					<th mat-header-cell *matHeaderCellDef> Contact name </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.contactName}} </td>
				</ng-container>

				<!-- Salutation Column -->
				<ng-container matColumnDef="salutation">
					<th mat-header-cell *matHeaderCellDef> Salutation </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.salutation}} </td>
				</ng-container>
			
				<!-- Mobile phone Column -->
				<ng-container matColumnDef="mobilePhone">
					<th mat-header-cell *matHeaderCellDef> Mobile phone </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.mobilePhone}} </td>
				</ng-container>
				
				<!-- Email Column -->
				<ng-container matColumnDef="email">
					<th mat-header-cell *matHeaderCellDef> Email </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.email}} </td>
				</ng-container>

				<!-- Organization Column -->
				<ng-container matColumnDef="organization">
					<th mat-header-cell *matHeaderCellDef> Organization </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.organization}} </td>
				</ng-container>

				<!-- DOB Column -->
				<ng-container matColumnDef="dob">
					<th mat-header-cell *matHeaderCellDef> DOB </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.dob}} </td>
				</ng-container>
				
				<!-- Lead source Column -->
				<ng-container matColumnDef="leadSrc">
					<th mat-header-cell *matHeaderCellDef> Lead source </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.leadSrc}} </td>
				</ng-container>

				<!-- Assigned Column -->
				<ng-container matColumnDef="assignedTo">
					<th mat-header-cell *matHeaderCellDef> Assigned </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
				</ng-container>

				<!-- Address Column -->
				<ng-container matColumnDef="address">
					<th mat-header-cell *matHeaderCellDef> Address </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.address}} </td>
				</ng-container>

				<!-- Description Column -->
				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef> Description </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.description}} </td>
				</ng-container>
		
				<!-- Created time Column -->
				<ng-container matColumnDef="createdTime">
					<th mat-header-cell *matHeaderCellDef> Created time </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
				</ng-container>
		
				<!-- Updated time Column -->
				<ng-container matColumnDef="updatedTime">
					<th mat-header-cell *matHeaderCellDef> Updated time </th>
					<td class="cell" mat-cell *matCellDef="let element"> {{element.updatedTime}} </td>
				</ng-container>
				
				<!-- Modify contact infomation column -->
				<!-- <ng-container matColumnDef="modify">
					<th mat-header-cell *matHeaderCellDef> Modify </th>
					<td class="cell" mat-cell *matCellDef="let element"><button mat-button (click)="navigateToEdit(element._id)"><mat-icon>edit</mat-icon></button></td>
				</ng-container> -->

				<!-- Delete contact infomation column -->
				<!-- <ng-container matColumnDef="delete">
					<th mat-header-cell *matHeaderCellDef> Delete </th>
					<td class="cell" mat-cell *matCellDef="let element"><button mat-button (click)="onDelete(element._id, element.contactName)"><mat-icon>delete</mat-icon></button></td>
				</ng-container> -->

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickedRow(row)"></tr>
			
			</table>
		</div>
  	</div> <!-- End div list of contacts -->
</div> <!-- End div content container -->