<form [formGroup]="createdTimeForm">
    <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="createdTimeFromPicker" formControlName="createdTimeFrom">
        <mat-datepicker-toggle matSuffix [for]="createdTimeFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #createdTimeFromPicker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="createdTimeToPicker" formControlName="createdTimeTo">
        <mat-datepicker-toggle matSuffix [for]="createdTimeToPicker"></mat-datepicker-toggle>
        <mat-datepicker #createdTimeToPicker></mat-datepicker>
    </mat-form-field>
</form>