.contentContainer {
    margin: 0;
    overflow: hidden;

    .contactChart, .saleOrderChart, .contact, .saleOrder {
        width: 47%;
        background-color: white;
        margin: 17px;
        
    }

    .contactChart, .saleOrderChart {
        height: 300px;
    }

    .contact, .saleOrder {
        height: 500px;
        margin-top:0;
    }

    .contactChart, .contact{
        float: left;
    }

    .saleOrderChart, .saleOrder {
        float: right;
    }

    .contact, .saleOrder {
        table, mat-paginator, p {
            width: 90%;
            margin: 0 auto;
        }

        p, mat-paginator {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
    
}