/* You can add global styles to this file, and also import other style files */

/* Could not find Angular Material core them. Most Material components may not work as expected */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // <- import
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.contentContainer {
  margin: 16px;

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .searchContainer {
    h1 {
      position: absolute;
      left: 16px;
    }
    margin-bottom: 16px;

    mat-form-field {
      font-size: 14px;
      width: 330px;
    }
  }

  .filtersContainter,
  .list {
    margin: 0 16px 16px 16px;

    h2 {
      margin-left: 16px;
    }
  }

  .filtersContainter {
    font-size: 12px;
    background-color: white;
    overflow: hidden;

    .filters {
      width: 50%;
      margin: 0 auto;

      .selectFilter {
        width: 100%;
        margin-top: 16px;
      }
    }

    .btnCancel {
      width: 100px;
      margin: 0 auto;

      button {
        width: 100%;
      }
    }
  }

  .list {
    background-color: white;
    overflow: hidden;

    .head {
      .title,
      .btnRow {
        width: fit-content;
        height: fit-content;
      }

      .title {
        float: left;
      }

      .btnRow {
        margin-top: 8px;
        margin-right: 16px;
        float: right;
        color: white;

        .btnCreate {
          margin-left: 5px;
          background-color: $greenColor;
        }

        .btnDelete {
          background-color: $redColor;
        }
      }
    }

    .info {
      margin: 16px;

      table {
        width: 100%;
      }
    }
  }
}

.formContainer {
  font-size: 16px;

  h3 {
    font-size: 20px;
  }

  mat-form-field {
    width: 300px;
  }

  .description,
  .address {
    mat-form-field {
      width: 80%;
      margin-top: 16px;
    }
  }
}

.button-row {
  display: table;
  margin: 0 auto;

  button {
    font-size: 16px;
  }
}

.row,
.cell {
  cursor: pointer;
}

.row:hover {
  background-color: lavender;
  border-color: lavender;
}

.customDialog {
  max-height: 95%;
  width: 50%;
  overflow-y: auto;

  mat-grid-tile {
    border: 1px solid lightgray;
    padding: 0;
  }
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.success {
  background: $greenColor;
  color: white;
}

.failed {
  background: $redColor;
  color: white;
}

.massDeleteBtn {
  margin-left: 16px;
}

.errorText {
  font-style: italic;
  color: red;
  font-size: 14px;
}

.linkText {
  color: #0288D1;
  cursor: pointer;
}