<div id="contact-form-edit-wrapper">
  <div class="row mx-4 my-4">
    <mat-card class="contact-form-edit-card col-12">
      <mat-card-header>
        <mat-card-title>
          <h3>Edit contact</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          class="mx-3 my-4"
          [formGroup]="contactFormInfo"
          (ngSubmit)="onUpdate(contactFormInfo)"
        >
          <div class="formContainer">
            <div class="row">
              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Contact name</mat-label>
                <input matInput formControlName="contactName" />

                <!-- contact name validation error -->
                <div
                  *ngIf="contactFormControl.contactName.touched || submitted"
                >
                  <span *ngIf="contactFormControl.contactName.errors?.required">
                    Contact name is required
                  </span>
                </div>
              </mat-form-field>

              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Salutation</mat-label>
                <mat-select formControlName="salutation">
                  <mat-option *ngFor="let s of salutations" [value]="s">{{
                    s
                  }}</mat-option>
                </mat-select>

                <!-- salutation validation error -->
                <div *ngIf="contactFormControl.salutation.touched || submitted">
                  <span *ngIf="contactFormControl.salutation.errors?.required">
                    Salutation is required
                  </span>
                </div>
              </mat-form-field>

              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Mobile phone</mat-label>
                <input matInput formControlName="mobilePhone" />

                <!-- mobile phone validation error -->
                <div
                  *ngIf="contactFormControl.mobilePhone.touched || submitted"
                >
                  <span *ngIf="contactFormControl.mobilePhone.errors?.required">
                    Mobile phone is required
                  </span>
                  <span *ngIf="contactFormControl.mobilePhone.errors?.pattern">
                    Invalid mobile phone number
                  </span>
                </div>
              </mat-form-field>

              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />

                <!-- email validation error -->
                <div *ngIf="contactFormControl.email.touched || submitted">
                  <span *ngIf="contactFormControl.email.errors?.email">
                    Invalid email address
                  </span>
                </div>
              </mat-form-field>
            </div>

            <div class="row my-3">
              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Organization</mat-label>
                <input matInput formControlName="organization" />
              </mat-form-field>

              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Lead source</mat-label>
                <mat-select formControlName="leadSrc">
                  <mat-option *ngFor="let src of leadSources" [value]="src">{{
                    src
                  }}</mat-option>
                </mat-select>

                <!-- lead source validation error -->
                <div *ngIf="contactFormControl.leadSrc.touched || submitted">
                  <span *ngIf="contactFormControl.leadSrc.errors?.required">
                    Lead source is required
                  </span>
                </div>
              </mat-form-field>
              <mat-form-field
                class="col-3"
                appearance="outline"
                *ngIf="assignedToUsers$ | async"
              >
                <mat-label>Assigned to</mat-label>
                <mat-select formControlName="assignedTo">
                  <mat-option
                    *ngFor="let user of assignedToUsers$ | async"
                    [value]="user.name"
                    >{{ user.name }}</mat-option
                  >
                </mat-select>

                <!-- assigned validation error -->
                <div *ngIf="contactFormControl.assignedTo.touched || submitted">
                  <span *ngIf="contactFormControl.assignedTo.errors?.required">
                    Assigned is required
                  </span>
                </div>
              </mat-form-field>

              <mat-form-field class="col-3" appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input
                  matInput
                  [matDatepicker]="dobPicker"
                  formControlName="dob"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dobPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="row my-3">
              <mat-form-field class="col-6" appearance="outline" id="address">
                <mat-label>Address</mat-label>
                <textarea formControlName="address" matInput></textarea>
              </mat-form-field>
              <mat-form-field class="col-6" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="mt-4 d-flex gap-2 justify-content-center">
            <button
              class="mt-3"
              mat-button
              type="submit"
              [disabled]="contactFormInfo.invalid"
              [ngClass]="
                contactFormInfo.invalid ? 'btn-disabled' : 'btn-primary'
              "
            >
              Save
            </button>
            <button
              mat-button
              class="btn-grey mt-3"
              (click)="router.navigate(['/contacts'])"
            >
              Back
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
