<div id="sales-order-wrapper">
  <div class="row mx-4 my-2">
    <div>
      <h2 class="float-start" id="contacts-heading">
        {{ "shared.salesOrder" | translate }}
      </h2>
      <form class="float-end">
        <button
          mat-button
          (click)="applySelectFilter(searchText.value, 'contactName')"
        >
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field>
          <input
            matInput
            placeholder="{{ 'action.search' | translate }}"
            [formControl]="searchText"
          />
        </mat-form-field>
        <button mat-button (click)="reset()">
          <mat-icon>clear</mat-icon>
        </button>
      </form>
    </div>
    <div class="col-12 my-3" id="sales-order-filter-wrapper">
      <mat-card class="sales-order-filters-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Filter group</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="filter-group row justify-content-center mx-2 my-4">
            <div class="selected-filters col-4">
              <p class="text-bold">Selected filters</p>
              <div class="row">
                <div class="col-md-12 col-lg-auto">
                  <mat-form-field appearance="outline" class="selectFilter">
                    <mat-label>{{ "salesOrder.status" | translate }}</mat-label>
                    <mat-select
                      (selectionChange)="
                        applySelectFilter($event.value, 'status')
                      "
                      [formControl]="status"
                    >
                      <mat-option
                        *ngFor="let stt of statusNames"
                        [value]="stt"
                        >{{ stt }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-lg-auto">
                  <mat-form-field
                    appearance="outline"
                    class="selectFilter"
                    *ngIf="show"
                  >
                    <mat-label>{{ "shared.assignedTo" | translate }}</mat-label>
                    <mat-select
                      [formControl]="assignedTo"
                      (selectionChange)="
                        applySelectFilter($event.value, 'assignedTo')
                      "
                    >
                      <mat-option
                        *ngFor="let user of assignedToUsers$ | async"
                        [value]="user.name"
                        >{{ user.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="created-time-date-range col-4">
              <p class="text-bold">{{ "date.createdTime" | translate }}</p>
              <form
                [formGroup]="createdTimeForm"
                (ngSubmit)="applyDateFilter(createdTimeForm, 'createdTime')"
              >
                <div class="row">
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.from" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="createdTimeFromPicker"
                        formControlName="createdTimeFrom"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="createdTimeFromPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #createdTimeFromPicker></mat-datepicker>

                      <!-- date range validation error -->
                      <span
                        *ngIf="
                          createdTimeForm.controls.createdTimeFrom.errors
                            ?.restrict
                        "
                      >
                        From field must be less than To field
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.to" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="createdTimeToPicker"
                        formControlName="createdTimeTo"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="createdTimeToPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #createdTimeToPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="mt-2 p-0">
                    <button
                      [ngClass]="
                        createdTimeForm.invalid ? 'btn-disabled' : 'btn-grey'
                      "
                      mat-button
                      type="submit"
                      [disabled]="createdTimeForm.invalid"
                    >
                      <span>{{ "action.apply" | translate }}</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="updated-time-date-range col-4">
              <p class="text-bold">{{ "date.updatedTime" | translate }}</p>
              <form
                [formGroup]="updatedTimeForm"
                (ngSubmit)="applyDateFilter(updatedTimeForm, 'updatedTime')"
              >
                <div class="row">
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.from" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="updatedTimeFromPicker"
                        formControlName="updatedTimeFrom"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="updatedTimeFromPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #updatedTimeFromPicker></mat-datepicker>
                      <span
                        *ngIf="
                          updatedTimeForm.controls.updatedTimeFrom.errors
                            ?.restrict
                        "
                      >
                        From field must be less than To field
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 col-lg-auto">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ "date.to" | translate }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="updatedTimeToPicker"
                        formControlName="updatedTimeTo"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="updatedTimeToPicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #updatedTimeToPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="mt-2 p-0">
                    <button
                      [ngClass]="
                        updatedTimeForm.invalid ? 'btn-disabled' : 'btn-grey'
                      "
                      mat-button
                      type="submit"
                      [disabled]="updatedTimeForm.invalid"
                    >
                      {{ "action.apply" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
					<button class="btn-grey" mat-button (click)="reset()">Reset all</button>
				</mat-card-actions>
      </mat-card>
    </div>
    <div class="col-12 my-3">
      <h3 class="float-start my-1">
        List of Sales order
      </h3>
      <div
        id="sales-order-button-row"
        class="float-end d-flex align-items-center gap-2"
      >
        <button
          mat-button
          [ngClass]="isDisabled ? 'btn-disabled' : 'btn-danger'"
          [disabled]="isDisabled"
          (click)="onMassDeleteBtnClicked()"
        >
          <mat-icon>delete</mat-icon>
          <span>{{ "action.delete" | translate }}</span>
        </button>
        <button
          mat-button
          [routerLink]="['/sales_order/add']"
          class="btn-primary"
        >
          <mat-icon>add</mat-icon>
          <span>{{ "salesOrder.createNewSalesOrder" | translate }}</span>
        </button>
      </div>
    </div>
    <div class="col-12 my-3 sales-order-list">
      <table id="list-of-sales-order" mat-table [dataSource]="result$ | async" class="mat-elevation-z8">
        <!-- Checkbox column -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <input
              type="checkbox"
              [value]="element._id"
              (change)="onCheckboxClicked($event)"
            />
          </td>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "salesOrder.subject" | translate }}
          </th>
          <td
            class="text-center pointer"
            mat-cell
            *matCellDef="let element"
            (click)="onClickedRow(element._id)"
          >
            {{ element.subject }}
          </td>
        </ng-container>

        <!-- Contact name Column -->
        <ng-container matColumnDef="contactName">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "shared.name" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.contactName }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "salesOrder.status" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.status }}
          </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "salesOrder.total" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.total }}
          </td>
        </ng-container>

        <!-- Assigned to Column -->
        <ng-container matColumnDef="assignedTo">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "shared.assignedTo" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.assignedTo }}
          </td>
        </ng-container>

        <!-- Created time Column -->
        <ng-container matColumnDef="createdTime">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "date.createdTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ datetimeService.datetimeFormat(element.createdTime, 2) }}
          </td>
        </ng-container>

        <!-- Updated time Column -->
        <ng-container matColumnDef="updatedTime">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "date.updatedTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ datetimeService.datetimeFormat(element.updatedTime, 2) }}
          </td>
        </ng-container>

        <!-- Modify contact infomation column -->
        <ng-container matColumnDef="modify">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "action.modify" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <button mat-button (click)="navigateToEdit(element._id)">
              <mat-icon class="text-warning pointer">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Delete contact infomation column -->
        <ng-container matColumnDef="delete">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            {{ "action.delete" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <button mat-button (click)="onDelete(element._id, element.subject)">
              <mat-icon class="text-danger pointer">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
