<div
  class="sales-order-details-dialog-wrapper"
  *ngIf="salesOrder$ | async as salesOrder"
>
  <h3>{{ "salesOrder.salesOrderDetails" | translate }}</h3>

  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "salesOrder.subject" | translate }}</span>
      <span class="text-grey">{{ salesOrder.subject }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "shared.name" | translate }}</span>
      <span class="text-grey">{{ salesOrder.contactName }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "salesOrder.status" | translate }}</span>
      <span class="text-grey">{{ salesOrder.status }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "salesOrder.total" | translate }}</span>
      <span class="text-grey">{{ salesOrder.total }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "shared.assignedTo" | translate }}</span>
      <span class="text-grey">{{ salesOrder.assignedTo }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "shared.creator" | translate }}</span>
      <span class="text-grey">{{ salesOrder.creator }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "shared.description" | translate }}</span>
      <span class="text-grey">{{ salesOrder.description }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "date.createdTime" | translate }}</span>
      <span class="text-grey">
        {{ datetimeService.datetimeFormat(salesOrder.createdTime, 2) }}
      </span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="text-bold">{{ "date.updatedTime" | translate }}</span>
      <span class="text-grey">
        {{ datetimeService.datetimeFormat(salesOrder.updatedTime, 2) }}
      </span>
    </li>
  </ul>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ "action.ok" | translate }}</button>
  </mat-dialog-actions>
</div>
