<app-progress-spinner></app-progress-spinner>

<!-- Navigation bar -->
<mat-toolbar class="navbar" >
    <div>
		<button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item [matMenuTriggerFor]="language" i18n>Language</button>
			<button mat-menu-item (click)="openDialog()" i18n>Change password</button>
			<button mat-menu-item (click)="signout()" i18n>Sign-out</button>
		</mat-menu>
		<mat-menu #language="matMenu">
			<div *ngFor="let lang of languageList">
				<button mat-menu-item><a href="/{{lang.code}}">{{lang.label}}</a></button>
			</div>
		</mat-menu>
    </div>
</mat-toolbar>
  
<!-- Left sidebar menu -->
<mat-sidenav-container>
	<mat-sidenav mode="side" opened="true">
		<button mat-button class="menu-button" routerLink="/dashboard" routerLinkActive="active" i18n>Dashboard</button>
		<button mat-button class="menu-button" routerLink="/contacts" routerLinkActive="active" i18n>Contacts</button>
		<button mat-button class="menu-button" routerLink="/sales_order" routerLinkActive="active" i18n>Sales Order</button>

		<div *ngIf="isAdminUser; then admin else user"></div>

		<ng-template #admin>
			<button mat-button class="menu-button" routerLink="/user_management" routerLinkActive="active" i18n>User Management</button>
		</ng-template>

		<!-- user cannot see the user management menu -->
		<ng-template #user>
			<div></div>
		</ng-template>

	</mat-sidenav>

	<!-- main content -->
	<mat-sidenav-content>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>