<app-progress-spinner></app-progress-spinner>

<!-- Navigation bar -->
<mat-toolbar class="navbar" >
    <div>
		<button mat-button (click)="signout()">Sign-out</button>
		<button mat-button (click)="openDialog()">Change password</button>
    </div>
</mat-toolbar>
  
<!-- Left sidebar menu -->
<mat-sidenav-container>
	<mat-sidenav mode="side" opened="true">
		<button mat-button class="menu-button" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
		<button mat-button class="menu-button" routerLink="/contacts" routerLinkActive="active">Contacts</button>
		<button mat-button class="menu-button" routerLink="/sales_order" routerLinkActive="active">Sales Order</button>
		<!-- <button mat-button class="menu-button" routerLink="/user_management" routerLinkActive="active">User Management</button> -->
		
		<div *ngIf="isAdminUser; then admin else user"></div>

		<ng-template #admin>
			<button mat-button class="menu-button" routerLink="/user_management" routerLinkActive="active">User Management</button>
		</ng-template>

		<!-- user cannot see the user management menu -->
		<ng-template #user>
			<div></div>
		</ng-template>

	</mat-sidenav>

	<!-- main content -->
	<mat-sidenav-content>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>