$primary: #006A71;
$secondary: #48A6A7;
$tertiary: #9ACBD0;
$danger: #FF453A;
$warning: #FFD60A;
$success: #30D158;
$info: #64D2FF;
$grey: #F2EFE7;
$dark: #031C1D;
$black20: rgba(3, 28, 29, 0.2);
$light: #EBEBF0;
