$primary: #006A71;
$secondary: #48A6A7;
$tertiary: #9ACBD0;
$danger: #FF453A;
$warning: #FFD60A;
$success: #30D158;
$info: #64D2FF;
$grey: #F2EFE7;
$grey-text: #8E8E93;
$dark: #031C1D;
$black80: rgba(3, 28, 29, 0.8);
$black50: rgba(3, 28, 29, 0.5);
$black20: rgba(3, 28, 29, 0.2);
$light: #EBEBF0;
$pure-white: #ffffff;
$mat-table-border-color: rgba(0, 0, 0, .12);
