<div class="contentContainer">
  <!-- Widget 1: Number of contacts by lead source -->
  <div class="contactChart">
    <p>{{ "shared.contacts" | translate }}</p>
    <div style="display: block">
      <canvas
        baseChart
        [data]="contactPieChartData"
        [labels]="contactPieChartLabels"
        [chartType]="contactPieChartType"
        (chartHover)="chartHovered($event, 'contacts')"
        (chartClick)="chartClicked($event, 'contacts')"
      >
      </canvas>
    </div>
  </div>

  <!-- Widget 2: Number of sales orders by status -->
  <div class="saleOrderChart">
    <p>{{ "shared.salesOrder" | translate }}</p>
    <div style="display: block">
      <canvas
        baseChart
        [data]="saleOrderPieChartData"
        [labels]="saleOrderPieChartLabels"
        [chartType]="saleOrderPieChartType"
        (chartHover)="chartHovered($event, 'salesOrder')"
        (chartClick)="chartClicked($event, 'salesOrder')"
      >
      </canvas>
    </div>
  </div>

  <!-- Only admin user can see the widget 3 and 4 -->
  <div *ngIf="user$ | async as user">
    <div *ngIf="user && user.isAdmin">
      <!-- Widget 3:  Contact information -->
      <div class="contact">
        <p>{{ "contacts.tableTitle" | translate }}</p>

        <table mat-table [dataSource]="contactData" class="mat-elevation-z8">
          <ng-container matColumnDef="contactName">
            <th mat-header-cell *matHeaderCellDef>
              {{ "shared.name" | translate }}
            </th>
            <td class="cell" mat-cell *matCellDef="let element">
              {{ element.contactName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="assignedTo">
            <th mat-header-cell *matHeaderCellDef>
              {{ "shared.assignedTo" | translate }}
            </th>
            <td
              class="cell"
              mat-cell
              *matCellDef="let element"
              (click)="onClickedCell(element.assignedTo)"
            >
              {{ element.assignedTo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="updatedTime">
            <th mat-header-cell *matHeaderCellDef>
              {{ "date.updatedTime" | translate }}
            </th>
            <td class="cell" mat-cell *matCellDef="let element">
              {{ datetimeService.datetimeFormat(element.updatedTime, 2) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="contactDisplayedCols"></tr>
          <tr mat-row *matRowDef="let row; columns: contactDisplayedCols"></tr>
        </table>

        <mat-paginator
          #contactPaginator
          [length]="contactLength"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>

      <!-- Widget 4:  Sales order information -->
      <div *ngIf="isShowDetail; then detail; else info"></div>

      <ng-template #info>
        <div class="saleOrder">
          <p>{{ "salesOrder.tableTitle" | translate }}</p>
          <table
            mat-table
            [dataSource]="saleOrderData"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>
                {{ "salesOrder.subject" | translate }}
              </th>
              <td class="cell" mat-cell *matCellDef="let element">
                {{ element.subject }}
              </td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>
                {{ "salesOrder.total" | translate }}
              </th>
              <td class="cell" mat-cell *matCellDef="let element">
                {{ element.total }}
              </td>
            </ng-container>

            <ng-container matColumnDef="updatedTime">
              <th mat-header-cell *matHeaderCellDef>
                {{ "date.updatedTime" | translate }}
              </th>
              <td class="cell" mat-cell *matCellDef="let element">
                {{ datetimeService.datetimeFormat(element.updatedTime, 2) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="saleOrderDisplayedCols"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: saleOrderDisplayedCols"
              (click)="onShowDetail(row)"
            ></tr>
          </table>

          <mat-paginator
            #saleOrderPaginator
            [length]="saleOrderLength"
            [pageSize]="5"
            [pageSizeOptions]="[3, 5, 10]"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </ng-template>

      <!-- Sale order detail -->
      <ng-template #detail>
        <div class="saleOrder">
          <p>{{ saleOrderDetail.subject }}</p>
          <mat-grid-list cols="2" rowHeight="42px">
            <!-- Subject row -->
            <mat-grid-tile>{{
              "salesOrder.subject" | translate
            }}</mat-grid-tile>
            <mat-grid-tile>{{ saleOrderDetail.subject }}</mat-grid-tile>

            <!-- Contact name row -->
            <mat-grid-tile>{{ "shared.name" | translate }}</mat-grid-tile>
            <mat-grid-tile>{{ saleOrderDetail.contactName }}</mat-grid-tile>

            <!-- Status row -->
            <mat-grid-tile>{{ "salesOrder.status" | translate }}</mat-grid-tile>
            <mat-grid-tile>{{ saleOrderDetail.status }}</mat-grid-tile>

            <!-- Total row -->
            <mat-grid-tile>{{ "salesOrder.total" | translate }}</mat-grid-tile>
            <mat-grid-tile>{{ saleOrderDetail.total }}</mat-grid-tile>

            <!-- Assigned row -->
            <mat-grid-tile>{{ "shared.assignedTo" | translate }}</mat-grid-tile>
            <mat-grid-tile>{{ saleOrderDetail.assignedTo }}</mat-grid-tile>

            <!-- Description row -->
            <mat-grid-tile>{{
              "shared.description" | translate
            }}</mat-grid-tile>
            <mat-grid-tile>{{ saleOrderDetail.description }}</mat-grid-tile>

            <!-- Created time row -->
            <mat-grid-tile>{{ "date.createdTime" | translate }}</mat-grid-tile>
            <mat-grid-tile>{{
              datetimeService.datetimeFormat(saleOrderDetail.createdTime, 2)
            }}</mat-grid-tile>

            <!-- Updated time row -->
            <mat-grid-tile>{{ "date.updatedTime" | translate }}</mat-grid-tile>
            <mat-grid-tile>{{
              datetimeService.datetimeFormat(saleOrderDetail.updatedTime, 2)
            }}</mat-grid-tile>
          </mat-grid-list>

          <div id="btnBack">
            <button mat-button (click)="onHideDetail()">
              {{ "action.back" | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
