<div class="bg-image"></div>
<div class="container">
  <div class="signinFormContainter">
    <h3>Login</h3>
    <div class="signinForm">
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm)">
        <mat-form-field appearance="outline">
          <mat-icon class="me-2" matPrefix>person</mat-icon>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <!-- username validation error -->
        <p *ngIf="signinFormControl.username.touched || submitted">
          <span
            class="errorText"
            *ngIf="signinFormControl.username.errors?.required"
          >
            *Username is required
          </span>
        </p>

        <mat-form-field appearance="outline">
          <mat-icon class="me-2" matPrefix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <!-- password validation error -->
        <p *ngIf="signinFormControl.password.touched || submitted">
          <span
            class="errorText"
            *ngIf="signinFormControl.password.errors?.required"
          >
            *Password is required
          </span>
          <span
            class="errorText"
            *ngIf="signinFormControl.password.errors?.minlength"
          >
            *Password must be at least 6 characters
          </span>
        </p>

        <button
          mat-button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="signinForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
    <p class="footnote">Don't have an account? <span class="linkText">Register</span></p>
  </div>
</div>
