<div id="container">
  <div class="signinContainter">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm)">
      <div class="inputFieldContainer">
        <div class="icon"><mat-icon>person</mat-icon></div>
        <div class="inputField">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" />

            <!-- username validation error -->
            <div *ngIf="signinFormControl.username.touched || submitted">
              <span *ngIf="signinFormControl.username.errors?.required">
                Username is required
              </span>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="inputFieldContainer">
        <div class="icon"><mat-icon>lock</mat-icon></div>
        <div class="inputField">
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />

            <!-- password validation error -->
            <div *ngIf="signinFormControl.password.touched || submitted">
              <span *ngIf="signinFormControl.password.errors?.required">
                Password is required
              </span>
              <span *ngIf="signinFormControl.password.errors?.minlength">
                Password must be at least 6 characters
              </span>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div id="btnSignin">
        <button mat-button type="submit" [disabled]="signinForm.invalid">
          Sign-in
        </button>
      </div>
    </form>
  </div>
</div>
