<div>
  <form [formGroup]="changePassForm" (ngSubmit)="onSubmit(changePassForm)">
    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPass" />

      <!-- old password validation error -->
      <div *ngIf="changePassFormControl.oldPass.touched || submitted">
        <span *ngIf="changePassFormControl.oldPass.errors?.required">
          Old password is required
        </span>
        <span *ngIf="changePassFormControl.oldPass.errors?.minlength">
          Old password must be at least 6 characters
        </span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPass" />

      <!-- new password validation error -->
      <div *ngIf="changePassFormControl.newPass.touched || submitted">
        <span *ngIf="changePassFormControl.newPass.errors?.required">
          New password is required
        </span>
        <span *ngIf="changePassFormControl.newPass.errors?.minlength">
          New password must be at least 6 characters
        </span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPass" />

      <!-- confirm password validation error -->
      <div *ngIf="changePassFormControl.confirmPass.touched || submitted">
        <span *ngIf="changePassFormControl.confirmPass.errors?.required">
          Confirm password is required
        </span>
        <span *ngIf="changePassFormControl.confirmPass.errors?.mustMatch">
          New password and confirm password must match
        </span>
      </div>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        type="submit"
        mat-dialog-close
        [disabled]="changePassForm.invalid"
      >
        OK
      </button>
    </mat-dialog-actions>
  </form>
</div>
