<app-progress-spinner></app-progress-spinner>

<!-- Navigation bar -->
<mat-toolbar class="navbar">
  <div class="logo d-flex align-items-center justify-content-center">
    <mat-icon svgIcon="crm"></mat-icon>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="language">
        {{ "action.language" | translate }}
      </button>
      <button mat-menu-item (click)="openDialog()">
        {{ "action.changePassword" | translate }}
      </button>
      <button mat-menu-item (click)="signout()">
        {{ "action.signout" | translate }}
      </button>
    </mat-menu>
    <mat-menu #language="matMenu">
      <div *ngFor="let language of translate.getLangs()">
        <button mat-menu-item (click)="switchLanguage(language)">
          {{ language }}
        </button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- Left sidebar menu -->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <button
      mat-button
      class="menu-button w-100 py-1"
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <mat-icon>dashboard</mat-icon>
      <span>{{ "shared.dashboard" | translate }}</span>
    </button>
    <button
      mat-button
      class="menu-button w-100 py-1"
      routerLink="/contacts"
      routerLinkActive="active"
    >
      <mat-icon>contact_page</mat-icon>
      <span>{{ "shared.contacts" | translate }}</span>
    </button>
    <button
      mat-button
      class="menu-button w-100 py-1"
      routerLink="/sales_order"
      routerLinkActive="active"
    >
      <mat-icon>real_estate_agent</mat-icon>
      <span>{{ "shared.salesOrder" | translate }}</span>
    </button>

    <div *ngIf="isAdminUser; then admin; else user"></div>

    <ng-template #admin>
      <button
        mat-button
        class="menu-button w-100 py-1"
        routerLink="/user_management"
        routerLinkActive="active"
      >
        <mat-icon>manage_accounts</mat-icon>
        <span>{{ "shared.userManagement" | translate }}</span>
      </button>
    </ng-template>

    <!-- user cannot see the user management menu -->
    <ng-template #user>
      <div></div>
    </ng-template>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
