<div class="contentContainer">
	<div class="searchContainer">
		<mat-grid-list cols="3" rowHeight="75px">
			<mat-grid-tile [colspan]="2"><h1>{{'shared.contacts' | translate}}</h1></mat-grid-tile>
			<form>
				<mat-grid-tile>
					<button mat-button (click)="applySelectFilter(searchText.value, 'contactName')"><mat-icon>search</mat-icon></button>
					<mat-form-field>
						<input matInput placeholder="{{'action.search' | translate}}" [formControl]="searchText">
					</mat-form-field>
					<button mat-button (click)="reset()"><mat-icon>clear</mat-icon></button>
				</mat-grid-tile>
			</form>
		</mat-grid-list>
	</div>
	
	<!-- Filters -->
	<div class="filtersContainter">
		<h2>{{'action.filters' | translate}}</h2>
		<div class="filters">
			<mat-form-field appearance="outline" class="selectFilter">
				<mat-label>{{'contacts.leadSrc' | translate}}</mat-label>
				<mat-select [formControl]="leadSrc" (selectionChange)="applySelectFilter($event.value, 'leadSrc')">
					<mat-option *ngFor="let src of leadSources" [value]="src">{{src}}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline" class="selectFilter" *ngIf="show">
				<mat-label>{{'shared.assignedTo' | translate}}</mat-label>
				<mat-select 
						[formControl]="assignedTo" 
						(selectionChange)="applySelectFilter($event.value, 'assignedTo')">
					<mat-option *ngFor="let user of assignedToUsers$ | async" [value]="user.name">{{user.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<div class="dateFilter">
				<p>{{'date.createdTime' | translate}}</p>
				<form [formGroup]="createdTimeForm" (ngSubmit)="applyDateFilter(createdTimeForm, 'createdTime')">
					<mat-form-field appearance="outline">
						<mat-label>{{'date.from' | translate}}</mat-label>
						<input matInput [matDatepicker]="createdTimeFromPicker" formControlName="createdTimeFrom">
						<mat-datepicker-toggle matSuffix [for]="createdTimeFromPicker"></mat-datepicker-toggle>
						<mat-datepicker #createdTimeFromPicker></mat-datepicker>

						<!-- date range validation error -->
						<span *ngIf="createdTimeForm.controls.createdTimeFrom.errors?.restrict">
							From field must be less than To field
						</span>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>{{'date.to' | translate}}</mat-label>
						<input matInput [matDatepicker]="createdTimeToPicker" formControlName="createdTimeTo">
						<mat-datepicker-toggle matSuffix [for]="createdTimeToPicker"></mat-datepicker-toggle>
						<mat-datepicker #createdTimeToPicker></mat-datepicker>
					</mat-form-field>
					<button mat-button type="submit" [disabled]="createdTimeForm.invalid">{{'action.apply' | translate}}</button>
				</form>
			</div>

			<div class="dateFilter">
				<p>{{'date.updatedTime' | translate}}</p>
				<form [formGroup]="updatedTimeForm" (ngSubmit)="applyDateFilter(updatedTimeForm, 'updatedTime')">
					<mat-form-field appearance="outline">
						<mat-label>{{'date.from' | translate}}</mat-label>
						<input matInput [matDatepicker]="updatedTimeFromPicker" formControlName="updatedTimeFrom">
						<mat-datepicker-toggle matSuffix [for]="updatedTimeFromPicker"></mat-datepicker-toggle>
						<mat-datepicker #updatedTimeFromPicker></mat-datepicker>

						<!-- date range validation error -->
						<span *ngIf="updatedTimeForm.controls.updatedTimeFrom.errors?.restrict">
							From field must be less than To field
						</span>
					</mat-form-field>
	
					<mat-form-field appearance="outline">
						<mat-label>{{'date.to' | translate}}</mat-label>
						<input matInput [matDatepicker]="updatedTimeToPicker" formControlName="updatedTimeTo">
						<mat-datepicker-toggle matSuffix [for]="updatedTimeToPicker"></mat-datepicker-toggle>
						<mat-datepicker #updatedTimeToPicker></mat-datepicker>
					</mat-form-field>
					<button mat-button type="submit" [disabled]="updatedTimeForm.invalid">{{'action.apply' | translate}}</button>
				</form>
			</div>
		</div>
		<div class="btnCancel"><button mat-button (click)="reset()">{{'action.cancel' | translate}}</button></div>
	</div> <!-- End div filters -->

  	<!-- List of contacts -->
  	<div class="list">
		<div class="head">
			<div class="title"><h2>{{'contacts.tableTitle' | translate}}</h2></div>
			<div class="btnRow">
				<!-- Mass delete button -->
				<button mat-button class="btnDelete" [disabled]="isDisabled" (click)="onMassDeleteBtnClicked()">
					<mat-icon>delete</mat-icon>
					<span>{{'action.delete' | translate}}</span>
				</button>

				<button mat-button [routerLink]="['/contacts/add']" class="btnCreate">
					<mat-icon>add</mat-icon>
					<span>{{'contacts.createNewCustomer' | translate}}</span>
				</button>
			</div>		
		</div>
		
		<div class="info">
			<table mat-table [dataSource]="result$ | async" class="mat-elevation-z8">
				<!-- Checkbox column -->
				<ng-container matColumnDef="check">
					<th mat-header-cell *matHeaderCellDef></th>
					<td class="cell" mat-cell *matCellDef="let element">
						<input type="checkbox" [value]="element._id" (change)="onCheckboxClicked($event)">
					</td>
				</ng-container>

				<!-- Contact name Column -->
				<ng-container matColumnDef="contactName">
					<th mat-header-cell *matHeaderCellDef>{{'shared.name' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element" (click)="onClickedRow(element._id)">{{element.contactName}}</td>
				</ng-container>

				<!-- Salutation Column -->
				<ng-container matColumnDef="salutation">
					<th mat-header-cell *matHeaderCellDef>{{'contacts.salutation' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element">{{element.salutation}}</td>
				</ng-container>
				
				<!-- Lead source Column -->
				<ng-container matColumnDef="leadSrc">
					<th mat-header-cell *matHeaderCellDef>{{'contacts.leadSrc' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element">{{element.leadSrc}}</td>
				</ng-container>

				<!-- Assigned to Column -->
				<ng-container matColumnDef="assignedTo">
					<th mat-header-cell *matHeaderCellDef>{{'shared.assignedTo' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element">{{element.assignedTo}}</td>
				</ng-container>
		
				<!-- Created time Column -->
				<ng-container matColumnDef="createdTime">
					<th mat-header-cell *matHeaderCellDef>{{'date.createdTime' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element">{{datetimeService.datetimeFormat(element.createdTime, 2)}}</td>
				</ng-container>
		
				<!-- Updated time Column -->
				<ng-container matColumnDef="updatedTime">
					<th mat-header-cell *matHeaderCellDef>{{'date.updatedTime' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element">{{datetimeService.datetimeFormat(element.updatedTime, 2)}}</td>
				</ng-container>
				
				<!-- Modify contact infomation column -->
				<ng-container matColumnDef="modify">
					<th mat-header-cell *matHeaderCellDef>{{'action.modify' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element"><button mat-button (click)="navigateToEdit(element._id)"><mat-icon>edit</mat-icon></button></td>
				</ng-container>

				<!-- Delete contact infomation column -->
				<ng-container matColumnDef="delete">
					<th mat-header-cell *matHeaderCellDef>{{'action.delete' | translate}}</th>
					<td class="cell" mat-cell *matCellDef="let element"><button mat-button (click)="onDelete(element._id, element.contactName)"><mat-icon>delete</mat-icon></button></td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			
			</table>
		</div>
  	</div> <!-- End div list of contacts -->
</div> <!-- End div content container -->